@use "bootstrap/scss/bootstrap" with (
  $font-size-base: 0.875rem,
  $focus-ring-box-shadow: none,
  $spacer: 0.75rem
);

html,
body,
#root {
  height: 100%;
}

.main {
  max-width: 800px;
  margin-inline: auto;
  padding: 1rem;
}
